.parent{
    height: 400px;
    width: 100%;
    border: solid wheat 1px;
    background-image: url(./image2/pexels-ella-olsson-1640774.jpg);
    background-size: cover;
    text-align: center;
}
#p1{
    color: black;
    font-size: 500%;
    margin-top: 100px;
    margin-bottom: 0%;
}
pre{
    font-size: 250%;
    font-style: italic;
    margin-top: 10px;
}
span{color: rgb(253, 145, 4);}

#b1:hover{
    background-color: rgb(147, 226, 147);
    color: black;
}
#b1{
    height: 40px;
    border-radius: 300px;
    background-color: green;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.stc1{
    text-align: center;
    opacity: 0.75;
    width: 14%;
    height: 50px;
    position: fixed;
    top: 5px;
    left: 84.7%;
    border: 0px;
    border-radius: 30px;
    background-color: rgb(225, 225, 225);
}
::placeholder{
    color: black;
    opacity: 1;
}
.stc1:hover{
    text-align: start;
    opacity: 1;
    background-color: white;
}
.title{
    background-color: white;
    height:50px;
    width: 84.8%;
    margin-bottom: -5px;
    float: left;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 5px;
}
.col{
    border: 0px;
    height: 50px;
    background-color: rgb(225, 225, 225);
}
.col1{
    height: 100%;
    background-color: rgb(225, 225, 225);
    width: 7%;
}
.col2{
    width: 10%;
}
.col3{
    width: 10%;
}
.col4{
    width: 10%;
}
.col6{
    width: 10%;
}
.col7{
    width: 10%;
}
.col8{
    height: 100%;
    background-color: rgb(225, 225, 225);
    width: 42%;
}
.col9{
    width: 15%;
    margin-left: 0.2%;
}
.col:hover{
    background-color: black;
    color: white;
    margin-top:5px;
}
.col9:hover{
    margin-top: 0px;
}
.contentbox{
    height: 300px;
    margin-top: 10px;
}
.s{
    float: left;
    height: 300px;
}
.f1{
    padding-left: 2%;
    padding-right: 1.5%;
    width: 66.7%;
    background-color: rgb(231, 232, 210);
}
.f2{
    width: 29.5%;
}
.g1{
    width: 29.5%;
}
.g2{
    padding-left: 1.5%;
    padding-right: 2%;
    width: 66.7%;
    left: 30%;
    background-color: rgb(238, 255, 255);
}
.f2:hover{
    opacity: 0.5;
    margin-left: 0.3%;
    margin-top: 2px;
}
.g1:hover{
    opacity: 0.5;
    margin-right: 0.3%;
    margin-top: 2px;
}
